<footer>
    <ul class="footer-address">
        <li>
            <a class="footer-title">ProjectsIncluded</a>
        </li>
        <li>
            <a>The Netherlands</a>
        </li>
        <li>
            <a>Zuid-Holland, Rotterdam</a>
        </li>
    </ul>
    <ul class="footer-about">
        <li>
            <p><span class="footer-title">ProjectsIncluded</span> is a creative agency based in</p>
            <br>
            <p>The Netherlands which produces online content</p>
            <br>
            <p>(i.e videos and livestreams).</p>
            <br>
            <p>Find us on <a href="https://twitter.com/projectincluded" target="_blank" style="color: #4acdfb">Twitter</a> for the latest news.</p>
        </li>
    </ul>
</footer>